<div id="landing-header">
  <img src="../../assets/IMG_2512.jpeg">
  <h1 style="font-family: 'Raleway', sans-serif;">Shreya Chauhan</h1>
  <h1 style="font-family: 'Raleway', sans-serif;">Data Analyst</h1>
  <a routerLink="aboutme" class="btn btn-lg btn-primary" style="font-family: 'Raleway', sans-serif;">Welcome To My Profile</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="../../assets/shreyaresume.pdf" target="_blank" class="btn btn-lg btn-primary" style="font-family: 'Raleway', sans-serif;">Resume</a>
</div>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
