<app-header></app-header>
<div class="container">
  <h1 class="jumbotron-heading">Contact Me</h1>
  <p>Feel free to reach out through any platforms bellow:</p>
  <!-- <app-linkendin></app-linkendin> -->
  <!-- new style with card -->
<div class="album py-5 ">
  <div class="container">
    <div class="row">
      <!-- linkeIn -->
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a href="https://www.linkedin.com/in/shreya1690/" target="_blank">
            <img src="../../assets/linkedin_icon.svg">
          </a>
        </div>
      </div>

      <!-- facebook -->
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a href="https://www.facebook.com/shreya.chauhan.39982/" target="_blank">
            <img src="../../assets/facebook.svg">
          </a>
        </div>

        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p> -->
        </div>
      </div>

      <!-- instagram -->
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a href="https://www.instagram.com/shreya.chauhan1690/" target="_blank">
            <img src="../../assets/2609558_instagram_social media_social_icon.svg">
          </a>
        </div>

        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p> -->
        </div>
      </div>

      <!-- Phone-->
      <!-- <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a href="tel:4846877668">
            <img src="../../assets/phone_icon.svg">
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>


</div>
