<app-header></app-header>
<div class="container exp">
  <h1 class="jumbotron-heading">Experience</h1>
    <h3>New York Disaster Interfaith Services (NYDIS), Community Preparedness Intern</h3>
    <h5>Date: August 2021 - Present</h5>
    <ul>
      <li>
        <p class="lead">Gather data about homeless people’s dog possession from US Department of Housing & Urban Development and analyze trends
        using MS Excel to assist in creating shelter options.</p>
      </li>
      <li>
        <p class="lead">Collect data from Howcalm and analyze data about temples and churches in New York City to identify location trends..</p>
      </li>
    </ul>

    <h3>NYC Department of Youth and Community Development, Data Analysis - Capacity Building Intern</h3>
    <h5>Date: June 2021 – Present</h5>
    <ul>
      <li>
        <p class="lead">Review data collection approaches and recommend improvements to help department understand employee training trends.</p>
      </li>
      <li>
        <p class="lead">Clean and process data using MS Excel and Python and develop approach for compiling data from multiple sources into
          comprehensive reporting system.</p>
      </li>
      <li>
        <p class="lead">Collected, prepared, and visualized data using Power BI to identify insights about meeting attendees and their geo-location.</p>
      </li>
    </ul>

    <h3>Shoptaki, New York, NY, Data Science Intern</h3>
    <h5>Date: March 2021 – May 2021</h5>
    <ul>
      <li>
        <p class="lead">Received training on visualizing data via dashboards using Tableau & tracking customer engagement using Google Analytics.</p>
      </li>
    </ul>

    <h3>State Government Education Department, Uttar Pradesh Government, India, Teacher</h3>
    <h5>Date: July 2016 – January 2020</h5>
    <ul>
      <li>
        <p class="lead">Educated students and collaborated with department heads to implement teaching materials to develop creative thinking skills.</p>
      </li>
    </ul>

  </div>
