.exp{
  margin-top: 1rem;
}
ul{
  color: white;
}
.h1,h1{
  font-size: 1.5rem;
}
.h3, h3,.h5, h5 {
  font-size: 1.05rem;
}
// .lead {
//   font-size: 15px;
//   font-weight: 200;
// }
// h3{
//   font-size: 17px;
// }
